@import '/src/sass/table.scss';
@import '/src/sass/modal.scss';

html,
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

table {
  border-spacing: 0;
}
