@import './sass/main-table.scss';

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

html,
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}
table {
  border-spacing: 0;
}
